---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>Guía para elegir tu pala de potencia ideal</h1>
  <p>¿Control o potencia? Aquí te enseñamos cómo elegir la pala que más se adapta a tu estilo.</p>
</BaseLayout>
