---
import "../styles/global.css";
import Navbar from "../components/Navbar.jsx";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Palas Para Potencia</title>
  </head>
  <body>
    <Navbar client:load />
    <main>
      <slot />
    </main>
    <footer style="text-align: center; padding: 2rem 0;">
      © {new Date().getFullYear()} PalasParaPotencia.es
    </footer>
  </body>
</html>
